<!DOCTYPE html>
<html lang="en">
   <head>
      {% load staticfiles %}
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="{% static 'contacts/default.css' %}" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <meta charset="utf-8">
      <title>Contacts</title>
   </head>
   <body>
     {% block body %}
     {% endblock %}
   </body>
</html>
